
/*dash-bord*/

* {
    position: relative;
}
#nav_bar {
    padding: 0;
}

#nav_bar .nav-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

nav div {
    background-color: #2a78de;
}

.navbar-brand>img{
    width: 100px;
    height: 50px;
    background-color: white;
}


.card {
    border: none;
    display: flex;
    align-items: center;
}

.card_body {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #2fd4e8;
    border-radius: 5px;
    color: white;
}

.card_body h1 {
    font-size: 30px;
    text-align: center;
}
.card_body > h2 {
    font-size: 35px;
    color: black;
}

.chart {
    width: 85%;
    height: 80%;
}

/*ccustomer*/

* {
    position: relative;
}
#nav_bar {
    padding: 0;
}

#nav_bar .nav-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

nav div {
    background-color: #2a78de;
}

.navbar-brand>img{
    width: 100px;
    height: 50px;
    background-color: white;
}

#dashboard, #customer, #item, #order {
    font-weight: 600;
    color: #1f1f1f;
}

#search {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 50%;
}

.form-label{
    font-weight: bold;
}

#id, #name, #address, #salary, #price, #qty {
    border: 1px solid black;
}

.buttons button {
    width: 28%;
}

table tbody, table thead {
    border: 2px solid #0dcaf0;
}

.table>thead{
    border: 5px solid #4786ee;
}

/*items*/

* {
    position: relative;
}
#nav_bar {
    padding: 0;
}

#nav_bar .nav-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

nav div {
    background-color: #2a78de;
}

.navbar-brand>img{
    width: 100px;
    height: 50px;
    background-color: white;
}

#dashboard, #customer, #item, #order {
    font-weight: 600;
    color: #1f1f1f;
}

#search {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 50%;
}

.form-label{
    font-weight: bold;
}

#id, #name, #address, #salary, #price, #qty {
    border: 1px solid black;
}

.buttons button {
    width: 28%;
}

table tbody, table thead {
    border: 2px solid #0dcaf0;
}

.table>thead{
    border: 5px solid #4786ee;
}

/*orders*/

* {
    position: relative;
}
#nav_bar {
    padding: 0;
}

#nav_bar .nav-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

nav div {
    background-color: #2a78de;
}

.navbar-brand>img{
    width: 100px;
    height: 50px;
    background-color: white;
}

#dashboard, #customer, #item, #order {
    font-weight: 600;
    color: #1f1f1f;
}

#search {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 50%;
}

.form-label{
    font-weight: bold;
}

#id, #name, #address, #salary, #price, #qty {
    border: 1px solid black;
}

.buttons button {
    width: 28%;
}

table tbody, table thead {
    border: 2px solid #0dcaf0;
}

.table>thead{
    border: 5px solid #4786ee;
}

#customer_lab{
    display: block;
}
#customer-id{
    width: 250px;
    display:inline-block;
}
.form-control{
    width: 250px;
}

.section{
    border: 2px solid #1c1cd5;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(13, 202, 240, 0.12);
}
.heder{
    background-color: #eaefd9;
    display: flex;
    justify-content: center;
    border: 1px solid #0a53be;
}


#item_lab{
    display: block;
}
#item-id{
    width: 250px;
    display:inline-block;
}
#item_btn{
    display: flex;
    justify-content: center;
}
#qty_area{
    background-color: #e3fc76;
    height: 130px;
    padding-left: 10px;
}

.order_section{
    background-color: papayawhip;
    border-radius: 10px;
    border: 2px solid pink;
    padding: 10px;
}

.cash_section{
    margin-top: 5px;
    background-color: greenyellow;
    border-radius: 10px;
    border: 2px solid pink;
    padding: 10px;
}


